html {
    background: lightcoral;
}
.wrapper {
    display: grid;
    box-sizing: border-box;
    min-height: 680px;
    grid-template-rows: 80px 630px 50px 50px 50px;
    grid-template-areas:
    "header"
    "container"
    "footer"
    "superfooter" "pupperfooter";
    justify-items: center;
}

.header {
    max-height: 50px;
    font-size: 40px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template: 210px 210px 210px/ 210px 210px 210px;
}

.cell:nth-child(1n+7) {
    border-bottom: black solid 2px;
}

.cell:nth-child(3n) {
    border-right: black solid 2px;
}

.cell {
    border-left: black solid 2px;
    border-top: black solid 2px;
}

.box {
    width: 100%;
    height: 100%;
    background: aquamarine;
}

.box:hover {
    cursor: pointer;
}

.footer {
    align-self: end;
    font-size: 30px;
    font-family: "Book Antiqua";

}

.change{
    width: 100%;
    height: 100%;
}
.clear{
    margin-top:5px;
}